<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>小字五组</key>
	<array>
		<string>x5-C</string>
	</array>
	<key>小字四组</key>
	<array>
		<string>x4-B</string>
		<string>x4-A#</string>
		<string>x4-A</string>
		<string>x4-G#</string>
		<string>x4-G</string>
		<string>x4-F#</string>
		<string>x4-F</string>
		<string>x4-E</string>
		<string>x4-D#</string>
		<string>x4-D</string>
		<string>x4-C#</string>
		<string>x4-C</string>
	</array>
	<key>小字三组</key>
	<array>
		<string>x3-B</string>
		<string>x3-A#</string>
		<string>x3-A</string>
		<string>x3-G#</string>
		<string>x3-G</string>
		<string>x3-F#</string>
		<string>x3-F</string>
		<string>x3-E</string>
		<string>x3-D#</string>
		<string>x3-D</string>
		<string>x3-C#</string>
		<string>x3-C</string>
	</array>
	<key>小字二组</key>
	<array>
		<string>x2-B</string>
		<string>x2-A#</string>
		<string>x2-A</string>
		<string>x2-G#</string>
		<string>x2-G</string>
		<string>x2-F#</string>
		<string>x2-F</string>
		<string>x2-E</string>
		<string>x2-D#</string>
		<string>x2-D</string>
		<string>x2-C#</string>
		<string>x2-C</string>
	</array>
	<key>小字一组</key>
	<array>
		<string>x1-B</string>
		<string>x1-A#</string>
		<string>x1-A</string>
		<string>x1-G#</string>
		<string>x1-G</string>
		<string>x1-F#</string>
		<string>x1-F</string>
		<string>x1-E</string>
		<string>x1-D#</string>
		<string>x1-D</string>
		<string>x1-C#</string>
		<string>x1-C</string>
	</array>
	<key>小字组</key>
	<array>
		<string>x-B</string>
		<string>x-A#</string>
		<string>x-A</string>
		<string>x-G#</string>
		<string>x-G</string>
		<string>x-F#</string>
		<string>x-F</string>
		<string>x-E</string>
		<string>x-D#</string>
		<string>x-D</string>
		<string>x-C#</string>
		<string>x-C</string>
	</array>
	<key>大字组</key>
	<array>
		<string>d-B</string>
		<string>d-A#</string>
		<string>d-A</string>
		<string>d-G#</string>
		<string>d-G</string>
		<string>d-F#</string>
		<string>d-F</string>
		<string>d-E</string>
		<string>d-D#</string>
		<string>d-D</string>
		<string>d-C#</string>
		<string>d-C</string>
	</array>
	<key>大字一组</key>
	<array>
		<string>d1-B</string>
		<string>d1-A#</string>
		<string>d1-A</string>
		<string>d1-G#</string>
		<string>d1-G</string>
		<string>d1-F#</string>
		<string>d1-F</string>
		<string>d1-E</string>
		<string>d1-D#</string>
		<string>d1-D</string>
		<string>d1-C#</string>
		<string>d1-C</string>
	</array>
	<key>大字二组</key>
	<array>
		<string>d2-B</string>
		<string>d2-A#</string>
		<string>d2-A</string>
	</array>
</dict>
</plist>
