<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>x4-C</string>
	<string>x3-B</string>
	<string>x3-A</string>
	<string>x3-G</string>
	<string>x3-F</string>
	<string>x3-E</string>
	<string>x3-D</string>
	<string>x3-C</string>
	<string>x2-B</string>
	<string>x2-A</string>
	<string>x2-G</string>
	<string>x2-F</string>
	<string>x2-E</string>
	<string>x2-D</string>
	<string>x2-C</string>
	<string>x1-B</string>
	<string>x1-A</string>
	<string>x1-G</string>
	<string>x1-F</string>
	<string>x1-E</string>
	<string>x1-D</string>
	<string>x1-C</string>
	<string>x-B</string>
	<string>x-A</string>
	<string>x-G</string>
	<string>x-F</string>
	<string>x-E</string>
	<string>x-D</string>
	<string>x-C</string>
</array>
</plist>
